body {
    color: #4B0908;
}

a {
    color: #AA0505;
}

a:visited {
    color: #B97D10;
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #6A0C0B;
    font-family: "Caveat";
    font-size: 1.35em;
}

h1,
h2 {
    color: #4B0908;
    font-family: "Cinzel";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Texturina";
}

#main {
    position: relative;
}